#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp HASH  &kp N7  &kp N0  &kp R  &kp P  &kp N0  &kp N1  &kp SPACE  &kp BACKSPACE  &kp A
            >;
        };
    };
};
